html, body {
    height: 100%;
    margin:0;
    scroll-behavior: smooth;
    width: 100%;

}



footer {
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color:#f9f7f4 ;

}