
.buttonBase {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.small {
    padding: 3px 6px;
    font-size: 1rem;
}


.primaryColor {
    background-color: #987953;
    color: white;
}

.primaryColor:hover {
    background-color: #e3c382;
}

.secondaryColor {
    background-color: #6c757d;
    color: white;
}

.secondaryColor:hover {
    background-color: #545b62;
}

.customColor {
    background-color: #28a745;
    color: white;
}

.customColor:hover {
    background-color: #1e7e34;
}

.softBlue {
    background-color: #5cb8ff;
    color: white;
}

.softBlue:hover {
    background-color: #3399ff;
}