.primaryColor {
    background-color: #E5D9B6; /* Color arena base */
    color: #333;
    font-weight: 700; /* Texto en negrita (equivalente a "bold") */
    width: 120px; /* Ancho personalizable */
    height: 40px; /* Altura reducida */
    padding: 0; /* Elimina padding por defecto */
    aspect-ratio: 3/1; /* Relación ancho/alto (3 veces más ancho que alto) */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}


/* Estados interactivos */
.primaryColor:hover {
    background-color: #D2C08E; /* Arena oscuro al pasar mouse */
}

.primaryColor:active, 
.primaryColor:focus, 
.primaryColor:focus-visible {
    background-color: #E5D9B6 !important; /* Mantiene el color arena al presionar */
    outline: none !important; /* Elimina el borde azul de focus */
    box-shadow: none !important; /* Elimina sombra por defecto */
}